@import "../../sass/variables";

.typewriter {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .typewriter-text {
    font-family: $header-font;
    font-size: 3rem;
    word-wrap: break-word;
  }
  .contact-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;

    .contact-icon {
      display: block;
      margin: 0 5%;
    }
  }
}
