.nav-items-container {
  min-width: 50%;

  .nav-items {
    display: flex;
    justify-content: space-around;
    letter-spacing: 0.2rem;
    text-align: right;

    .nav-item {
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
