@import "../../sass/variables";

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1.5rem;

  @include tablet {
    display: block;
    padding: 3rem 6rem;
    line-height: 1.8rem;
  }
  @include monitors {
    padding: 6rem 10rem;
  }

  .bio {
    font-size: 1rem;
    @include tablet {
      font-size: 1.1rem;
    }
  }

  .headshot {
    border-radius: 50%;
    margin: 0 auto 3rem auto;
    height: 250px;
    @include tablet {
      margin: 0;
      float: left;
      shape-outside: circle();
      margin-right: 60px;
    }
  }
}
