@import "../../sass/variables";

.site-nav {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: $lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $text-font2;
  color: $navWhite;
  padding: 0 2rem;
  height: 60px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.65);
  transition: all 200ms ease-in-out;
}

.nav-hidden {
  transform: translateY(-100%);
  box-shadow: none;
}
