@import "../../sass/variables";

.contact-section {
  padding-bottom: 2rem;
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    @include mobileSpecific {
      padding: 2rem 0;
    }
    @include tablet {
      padding: 2rem 5rem;
    }
    @include monitors {
      padding: 2rem 10rem;
    }
    .form-input {
      font-family: $text-font2;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    .project-button {
      font-family: $header-font;
      letter-spacing: 3px;
      font-size: 2.2rem;
      width: 100%;
      max-width: 400px;
      margin: 10px 0;
      padding: 10px 15px;
      border-radius: 5px;
      background-color: $lavender;
      color: $navWhite;
      cursor: pointer;
      transition: 0.15s ease-in-out;
      border: 1px rgba(0, 0, 0, 0.3) solid;
      &:hover {
        transform: scale(1.01);
        background-color: #614256;
      }
    }
  }
}
